# RabbitMQ settings
AMQP_URL=amqp://guest:guest@localhost/

# Database settings
DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_tracker
DB_USER=postgres
DB_PASSWORD=qwerty

# Connection pool settings
DB_POOL_MIN_SIZE=5
DB_POOL_MAX_SIZE=20

# Service settings
PREFETCH_COUNT=10

# Logging
LOG_LEVEL=INFO
